bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.ClimbingBot/.idea/encodings.xml
/.idea/.idea.ClimbingBot/.idea/indexLayout.xml
/.idea/.idea.ClimbingBot/.idea/vcs.xml
/ClimbingBot.Host/appsettings.Development.json
